button{
    background-color: rgb(82, 121, 237);
    border-radius: 12px;
    border: none;
    margin-top: 100px;
    margin-left: 100px;
    padding: 15px 30px;
    color: white;

}

.onHover:hover{
    cursor: pointer;
    box-shadow: 10px 6px 6px rgb(148, 147, 147);
}